@font-face {
    font-family: 'Thin Pixel-7';
    src: url('ThinPixel-7.woff2') format('woff2'),
        url('ThinPixel-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

